@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

li, .btn, h5, p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}


/*NAVBAR*/

.navbar {
    box-shadow: 2px 2px 5px #000;
    opacity: .9;
    position: relative;
    z-index: 1;
}



.navbar-brand {
    background-color: white;
    border-radius: 28px;
}



.nav-link {
    position: relative;
}

    .nav-link::after {
        content: '';
        opacity: 0;
        transition: all 0.2s;
        height: 2px;
        width: 100%;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 0;
    }


.sm-icons {
    flex-direction: row;
}

    .sm-icons .nav-link {
        margin-right: 0.5em;
    }


.nav-link:hover::after {
    opacity: 1;
}


/*CAROUSEL*/
.carousel-inner::before {
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(47, 54, 64,.7);
    z-index: 2;
}

.c-item {
    height: 550px;
}

.c-img {
    height: 550px;
    object-fit: cover;
    filter: brightness(0.6);
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 200px;
    z-index: 3;
}

    .carousel-caption h5 {
        font-size: 45px;
        letter-spacing: 2px;
        margin-top: 20px;
    }

    .carousel-caption p {
        width: 60%;
        margin: auto;
        font-size: 18px;
        line-height: 1.9;
        margin-bottom: 50px;
    }

/*SMOOTH SCROLL*/
html {
    scroll-behavior: smooth;
}

/*CONTACTO*/


/* ANIMATIONS */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/*
.card:nth-child(2){
    transition-delay: 200ms;
}

.card:nth-child(3){
    transition-delay: 400ms;
}

.card:nth-child(4){
    transition-delay: 600ms;
}
*/



.row {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container2 {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 20px;
}


.container2 p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.container2 nav-link2 {
    color: #0d6efd;
    font-size: 32px;
    margin-right: 10px;
        
}

.contacto h3 {
    text-align: center;
    color: #0d6efd;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 32px;
}



.contacto {
    width: 1300px;
    background: #e5e4e4;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 5px 10px 20px #000;
}

