.navbar{
    box-shadow: 2px 2px 5px #000;
    opacity: .9;
}

.navbar-brand{
    background-color: white;
    border-radius: 28px;
}   


.main-header{
    background: url(../imagenes/fondo2.jpeg);
    background-size: cover;
    min-height: 550px;
}


.background-overlay{
    background: rgba(47, 54, 64,.7);
    background-size: cover;
    min-height: 550px;
}






